@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
body {
  margin: 0;
  padding: 84px 0 0 0; }

html, button, input, select, textarea, .pure-g [class*="pure-u"] {
  font-family: "Open Sans", sans-serif; }

h2 {
  font-weight: 400;
  color: #515e7c;
  margin-top: 0; }

h4 {
  color: #333;
  font-size: 15px;
  margin: 4px 0 0 0; }

h5 {
  color: #333;
  font-size: 13px;
  font-weight: 300;
  margin: 2px 0 0 0; }

p {
  font-weight: 300;
  color: #333; }

section {
  width: 100%; }

/* General Styles */
.full-width {
  width: 100%; }

.text-center {
  text-align: center; }

.pb20 {
  padding-bottom: 20px; }

.above {
  z-index: 2; }

.float-left {
  float: left; }

h2.section-heading {
  font-size: 32px;
  font-weight: 300;
  color: #515e7c;
  text-transform: uppercase;
  margin-top: 0; }

/* Shared Elements */
a.download-link, a.more-link {
  display: inline-block;
  height: 22px;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  color: #5a657d; }

a.download-link:hover, a.more-link:hover {
  color: #f68712; }

a.download-link:before, a.more-link:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
  margin-right: 6px; }

a.download-link:before {
  background: url("/assets/img/ic_download.png") center center/16px 16px; }

a.more-link:before {
  background: url("/assets/img/ic_more.png") center center/16px 16px; }

a.download-link:hover:before {
  background: url("/assets/img/ic_download_a.png") center center/16px 16px; }

a.more-link:hover:before {
  background: url("/assets/img/ic_more_a.png") center center/16px 16px; }

.bubble-left {
  display: block;
  margin: 0 10px 10px 0;
  width: 600px;
  height: 280px;
  background: url("/assets/img/bg_bubble_left.svg") right 0 top 0; }

.bubble-right {
  display: block;
  margin: 0 0 10px 10px;
  width: 600px;
  height: 280px;
  background: url("/assets/img/bg_bubble_right.svg") right 0 top 0; }

.bubble-content {
  padding: 30px 50px 30px 30px; }
  .bubble-content h1 {
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0; }
  .bubble-content h1.claim-q {
    color: #777; }
  .bubble-content h1.claim-a {
    color: #515e7c; }

/* Sections */
#nav {
  height: 84px;
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }
  #nav .logo {
    display: block;
    float: left;
    width: 240px;
    height: 64px;
    color: transparent;
    background: url("/assets/img/cotedo_logo.jpg") center center/240px 64px no-repeat; }
  #nav ul.pure-menu-list {
    float: right; }
    #nav ul.pure-menu-list li a.pure-menu-link {
      font-weight: 300;
      padding: 32px 4px 28px;
      margin: 0 12px;
      border-bottom: 2px solid #fff;
      color: #333;
      text-transform: uppercase; }
    #nav ul.pure-menu-list li a.pure-menu-link:hover {
      color: #515e7c;
      background: transparent;
      border-bottom: 2px solid #515e7c; }

#welcome {
  position: absolute;
  top: 84px;
  width: 100%;
  height: 82vh;
  background: url("/assets/img/cotedo_cover_01.jpg") left center;
  background-size: cover;
  display: flex;
  align-items: flex-end; }

#first-bubble {
  position: absolute;
  top: calc(84px + 82vh - 290px); }

#intro {
  position: absolute;
  top: calc(84px + 82vh);
  padding: 48px 0;
  background: #fff; }

#stats {
  position: absolute;
  top: 200vh;
  background: #f68712;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 -1px 2px rgba(0, 0, 0, 0.15); }
  #stats .kpi {
    padding: 28px 0; }
  #stats .countup {
    font-size: 40px;
    font-weight: bold;
    color: #fff; }
  #stats .caption {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase; }

#strengths {
  position: absolute;
  top: 300vh;
  background: #fff;
  padding: 48px 0 24px 0; }
  #strengths .box {
    padding-bottom: 15px;
    margin-bottom: 25px;
    min-height: 195px;
    background: #fafafa; }
  #strengths .box-header .title {
    float: left;
    width: 155px;
    height: 155px;
    background: #5a657d;
    padding: 20px; }
    #strengths .box-header .title h3 {
      font-size: 19px;
      font-weight: 300;
      color: #fff;
      text-transform: uppercase;
      margin-top: 8px; }
  #strengths .box-header .image {
    float: right;
    width: calc(100% - 195px);
    height: 195px;
    background-size: cover; }
  #strengths .box-header .image.prm {
    background-image: url("/assets/img/img_prm.jpg");
    background-position: center center; }
  #strengths .box-header .image.sdm {
    background-image: url("/assets/img/img_sdm.jpg");
    background-position: center center; }
  #strengths .box-header .image.com {
    background-image: url("/assets/img/img_com.jpg");
    background-position: left center; }
  #strengths .box-header .image.aac {
    background-image: url("/assets/img/img_aac.jpg");
    background-position: center center; }
  #strengths .box-content {
    float: left;
    width: calc(100% - 40px);
    min-height: 170px;
    padding: 8px 20px; }
  #strengths .box-links {
    float: left;
    width: calc(100% - 40px);
    padding: 0 20px; }
    #strengths .box-links a.more-link {
      float: right; }
  #strengths .box .box-header .title img {
    transition: transform 300ms; }
  #strengths .box:hover {
    cursor: pointer; }
    #strengths .box:hover .box-header .title img {
      transform: scale(1.1); }

@media(max-width: 1200px) {
  #strengths .box-links a.more-link {
    float: left;
    clear: left; } }
@media(max-width: 1020px) {
  #strengths .box-links a.more-link {
    float: right;
    clear: none; } }
@media(max-width: 970px) {
  #strengths .box-links a.more-link {
    float: left;
    clear: left; } }
@media(max-width: 768px) {
  #strengths .box-links a.more-link {
    float: right;
    clear: none; } }
@media(max-width: 480px) {
  #strengths .box-links a.more-link {
    float: left;
    clear: left; } }
#team-cover {
  position: absolute;
  top: 400vh;
  width: 100%;
  height: 82vh;
  background: url("/assets/img/cotedo_cover_02.jpg") center center;
  background-size: cover; }

#second-bubble {
  position: absolute;
  right: 0;
  top: 450vh; }
  #second-bubble .bubble-content {
    padding-left: 140px; }

#team {
  position: absolute;
  top: 500vh;
  background: #fff;
  padding: 48px 0; }
  #team h2 {
    margin-bottom: 0; }
  #team .members {
    margin-bottom: 16px; }
    #team .members .wrapper {
      outline: none; }
    #team .members .member {
      position: relative;
      width: 220px;
      height: 220px;
      overflow: hidden;
      margin: 0 auto; }
    #team .members img {
      position: absolute;
      width: 220px;
      height: 220px;
      transition: all 500ms; }
    #team .members .info {
      position: absolute;
      width: 220px;
      height: 220px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: all 500ms; }
      #team .members .info h3 {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
        color: white;
        margin: 0;
        transform: translateY(10px);
        transition: all 500ms; }
      #team .members .info h4 {
        font-size: 12px;
        font-weight: 300;
        color: white;
        transform: translateY(20px);
        transition: all 500ms; }
  #team .member:hover {
    cursor: pointer; }
    #team .member:hover img {
      transform: scale(1.1); }
    #team .member:hover .info {
      opacity: 1; }
      #team .member:hover .info h3, #team .member:hover .info h4 {
        transform: translateY(0); }
  #team .slider-prev, #team .slider-next {
    height: 220px;
    overflow: hidden;
    transition: transform 200ms; }
  #team .slider-prev {
    background: url("/assets/img/ic_slider_arrow_left.png") center center/24px 48px no-repeat; }
  #team .slider-next {
    background: url("/assets/img/ic_slider_arrow_right.png") center center/24px 48px no-repeat; }
  #team .slider-prev:hover, #team .slider-next:hover {
    cursor: pointer;
    transform: scale(1.1); }
  #team .resp-right {
    float: right; }

@media(max-width: 468px) {
  #team .resp-right {
    clear: left;
    float: left; } }
#news {
  position: absolute;
  top: 600vh;
  background: #f5f5f5;
  padding: 48px 0; }
  #news a {
    text-decoration: none; }
  #news .newsbox {
    padding-right: 20px; }
    #news .newsbox img {
      float: left;
      margin-bottom: 20px; }
    #news .newsbox .date {
      float: left;
      width: 112px;
      height: 36px;
      padding-left: 10px;
      font-size: 15px;
      font-weight: 300;
      line-height: 36px;
      color: #fff;
      background: url("/assets/img/bg_small_bubble_gray.png") 0 0/122px 36px no-repeat; }
    #news .newsbox .headline {
      float: left;
      width: calc(100% - 170px);
      height: 94px;
      padding: 10px;
      font-size: 15px;
      font-weight: 300;
      background: #fff;
      color: #333; }

footer {
  width: 100%;
  padding: 48px 0;
  font-weight: 300;
  background: #465055;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
  color: #fff; }
  footer .company-name, footer .heading {
    font-size: 16px;
    margin-bottom: 32px; }
  footer .heading {
    text-transform: uppercase; }
  footer p {
    font-size: 13px;
    color: #ddd;
    margin: 0; }
  footer a {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    text-decoration: none;
    color: #ddd; }
  footer a:hover {
    color: #f68712; }
  footer img {
    margin-bottom: 16px; }

/*# sourceMappingURL=main.css.map */
